/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(39, 126, 152, 70%);
    --paragraph-color: #777;
    --section-padding: 100px;
    --main-border-radius: 5px;
}
/* End Variables */
/* Start Global Rules */
html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Component */
.btn-top {
    display: none;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: var(--main-color);
    color: rgb(255 255 255);
    border: rgb(255 222 173);
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
}
.btn-top:hover {
    opacity: 1;
}
.special-heading {
    text-align: center;
}
.special-heading h2 {
    position: relative;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 65px;
    letter-spacing: 2px;
}
.special-heading h2::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: #444;
    bottom: -30px;
}

.special-heading h2::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 50%;
    border: 2px solid #444;
    transform: translateX(-50%);
    bottom: -38px;
    background-color: white;
}
.special-heading p {
    width: 550px;
    margin: 0 auto 100px;
    font-size: 14px;
    max-width: 100%;
    color: var(--paragraph-color);
    line-height: 2;
}
/* End Component */
/* Start Header  */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
}
.header .container img {
    height: 30px;
}
.header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .container::before {
    content: '';
    height: 1px;
    width: calc(100% - 30px);
    background: #a2a2a2;
    left: 15px;
    bottom: 0;
    position: absolute;
}
.header nav .toggle-menu {
    color: #a2a2a2;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}
@media (min-width: 768px) {
    .header nav .toggle-menu {
        display: none;
    }
}
.header .container .links {
    display: flex;
}
@media (max-width: 767px) {
    .header .container .links {
        display: none;
    }
    .header .links.show {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: rgb(0, 0, 0, 50%);
    }
    .header .links li a {
        padding: 15px !important;
    }
}
.header .container .links li a {
    display: block;
    color: white;
    padding: 40px 10px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.header .container .form {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid #a2a2a2;
    margin-left: 30px;
}
.header .container .form i {
    position: absolute;
    color: #a2a2a2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header .container .links li a.active,
.header .container .links a:hover {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
}
/* End Header  */
/* Start landing */
.landing {
    min-height: 100vh;
    background-color: rgb(15, 116, 143, 70%);
    background-image: url(../Image/Landing-1.jpg);
    background-size: cover;
}
.landing .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 60%);
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 50px;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.5;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
@media (max-width: 767px) {
    .landing .text .content h2 {
        font-size: 30px;
    }
    .landing .text .content p {
        font-size: 12px;
    }
}
.background-change {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media (max-width: 767px) {
    .background-change {
        display: none;
    }
}
.left {
    left: 30px;
}
.right {
    right: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 20px;
}
.landing .bullets ul {
    display: flex;
}
.landing .bullets ul li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.landing .bullets ul .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-content {
    display: flex;
    margin-bottom: 40px;
}
.services .srv-content i {
    margin-right: 50px;
    color: #444;
}
@media (max-width: 767px) {
    .services .srv-content {
        flex-direction: column;
        text-align: center;
    }
    .services .srv-content i {
        margin: 0 0 30px;
    }
}
.services .srv-content h3 {
    color: var(--main-color);
    margin-bottom: 30px;
    font-weight: normal
}
.services .srv-content p {
    font-size: 14px;
    max-width: 100%;
    color: var(--paragraph-color);
    line-height: 2;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../Image/design-features.jpg);
    background-size: cover;
    height: 600px;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}
.design::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 60%);
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    justify-content: center;
    display: flex;
    bottom: -125px;
    ;
}
@media (max-width: 768px) {
    .design .image {
        display: none;
    }
}
.design .text {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}
.design .text h3 {
    margin-bottom: 40px;
    font-weight: normal;
}
.design .text li {
    font-size: 14px;
    margin: 15px 0;
}
.design .text li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f390";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design */
/* Start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    .portfolio .shuffle {
        flex-direction: column;
        text-align: center;
    }
}
.portfolio .shuffle li {
    display: block;
    text-decoration: none;
    border-radius: var(--main-border-radius);
    font-size: 16px;
    padding: 10px 25px;
    margin: 0 10px;
    color: black;
    cursor: pointer;
    user-select: none;
}
.portfolio .shuffle .active,
.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: white;
}
@media (max-width: 768px) {
    .portfolio .shuffle li {
        padding: 10px 10px;
        margin: 0 10px;
        font-size: 14px;
    }
}
.portfolio .box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.portfolio .box .imgs-container {
    position: relative;
    overflow: hidden;
}
.portfolio .box .imgs-container.extra {
    display: none;
}
.portfolio .box .imgs-container:hover .Caption {
    bottom: 0;
}
.portfolio .box .imgs-container:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 767px) {
    .portfolio .box .imgs-container {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .box .imgs-container {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .Caption {
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: 15px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .Caption h4 {
    margin-bottom: 5px;
    font-size: 15px;
}
.portfolio .imgs-container .Caption p {
    font-size: 12px;
    color: var(--main-color);
}
.more {
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    text-decoration: none;
    border: none;
    border-radius: var(--main-border-radius);
    color: white;
    margin: 30px auto;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
/* End portfolio */
/* Start Video  */
.video {
    position: relative;
}
.video::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 40%);
}
.video video {
    max-width: 100%;
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    padding: 50px;
    color: white;
}
.video .text h3 {
    margin-bottom: 30px;
    font-weight: normal;
}
.video .text p {
    margin-bottom: 40px;
    font-size: 12px;
}
.video .text button {
    color: white;
    background-color: rgb(0 0 0 / 70%);
    padding: 5px 15px;
    border-radius: var(--main-border-radius);
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
/* End Video  */
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    left: -50px;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
        left: -10px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../Image/stats.png);
    background-size: cover;
    position: relative;
    text-align: center;
}
.stats::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 55%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.stats .container .box .num {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.stats .container .box p {
    font-size: 12px;
}
/* End Stats */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
@media (max-width: 991px) {
    .our-skills .container > div {
        flex-basis: 100%;
    }
}
.our-skills .container > div > h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}
.our-skills .container > div > p {
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
    color: var(--paragraph-color);
    margin-bottom: 50px;
}
.our-skills .container .content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.our-skills .container .content img {
    width: 100px;
    margin-right: 50px;
    border-radius: 50%;
}
@media (max-width: 767px) {
    .our-skills .container .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .container .content img {
        margin: 0 auto 20px;
    }
}
.our-skills .container .content .text {
    font-size: 12px;
    line-height: 1.8;
    border-bottom: 1px solid #777;
}
.our-skills .container .content .text p {
    right: 0;
    font-size: 10px;
    text-align: right;
    margin-bottom: 10px;
    color: var(--paragraph-color);
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .prog-holder {
    margin-bottom: 30px;
}
.our-skills .prog-holder h4 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -1px;
    margin-bottom: 15px
}
.our-skills .prog-holder .prog {
    height: 20px;
    background-color: #dedadc;
    border-radius: var(--main-border-radius);
}
.our-skills .prog-holder .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
    transition: 1s;
}
.our-skills .prog-holder .prog span::before {
    content: attr(data-prog);
    position: absolute;
    width: 30px;
    top: -28px;
    right: -21px;
    background-color: black;
    border-radius: var(--main-border-radius);
    color: white;
    font-size: 10px;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: black transparent transparent;
    top: -12px;
    right: -10px;
}
/* End skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../Image/quote.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}
.quote::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 60%)
}
.quote .container {
    position: relative;
    max-width: 700px;
}
.quote .container q {
    display: block;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 15px;
}
.quote .container q::before {
    font-family: "Font Awesome 6 Free";
    content: "\f10d";
    font-weight: 900;
    margin-right: 5px;
}
.quote .container q::after {
    font-family: "Font Awesome 6 Free";
    content: "\f10e";
    font-weight: 900;
    margin-left: 5px;
}
.quote .container span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}
.pricing .plans .box {
    padding: 20px 0;
    background-color: #fcfcfc;
}
.pricing .plans .box .price-head {
    padding: 25px 0;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .box .price-head h4 {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}
.pricing .plans .box .price-head span {
    font-size: 40px;
    font-weight: bold;
}
.pricing .plans .box .price-head span::before {
    content: "$";
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: -18px;
    left: -5px;
}
.pricing .plans .box .price-head span::after {
    content: "/mo";
    font-size: 15px;
    font-weight: normal;
    position: relative;
    right: -5px;
}
.pricing .plans .box ul li {
    display: block;
    padding: 20px;
    position: relative;
}
.pricing .plans .box ul li:not(:last-child)::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 60%;
    background-color: var(--main-color);
    bottom: 0px;
    transform: translateX(-50%);
    left: 50%;

}
.pricing .plans .box ul .special {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 40px;
}
.pricing .plans .box button {
    border: none;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 1px solid var(--main-color);
    font-size: 14px;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    user-select: none;
}
.pricing .footer {
    text-align: center;
    margin-top: 70px;
    padding: 20px;
}
.pricing .footer p {
    margin-bottom: 40px;
}
.pricing .footer .contact-link {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: var(--main-border-radius);
}
/* End Pricing */
/* Start Subscribe */
.sub {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../Image/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.sub::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 60%)
}
.sub .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .sub .container {
        flex-direction: column;
    }
}
.sub .container form {
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.sub .container form i {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
@media (max-width: 767px) {}
.sub .container form input[type="mail"] {
    padding: 15px 15px 15px 60px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    border-right: none;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.sub .container form input[type="mail"]::placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.sub .container form input[type="mail"]:focus {
    outline: none;
}
.sub .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .sub .container form input[type="submit"] {
        margin-right: 0;
    }
}
.sub .container p {
    font-size: 14px;
    line-height: 2;
}
@media (max-width: 991px) {
    .sub .container p {
        margin-top: 20px;
    }
}
/* End Subscribe */
/* Start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container {
    position: relative;
}
.contact .contact-content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .contact-content {
        flex-direction: column;
    }
}
.contact .contact-content form {
    flex-basis: 70%;
}
.contact .contact-content form .main-input {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #444;
    caret-color: var(--main-color);
    border-radius: var(--main-border-radius);
}
.contact .contact-content form .main-input::placeholder,
.contact .contact-content form :focus {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
}
.contact .contact-content form textarea {
    height: 200px;
    resize: none;
}
.contact .contact-content form .submit {
    display: block;
    margin-left: auto;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-color);
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .info {
    flex-basis: 25%;
}
.contact .info .box {
    margin-bottom: 100px;
}
@media (max-width: 767px) {
    .contact .info {
        display: flex;
        justify-content: space-between;
        order: -1;
    }
    .contact .info .box {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 30px;
    }
}
.contact .info .box h4 {
    font-size: 16px;
    margin-bottom: 30px;
}
.contact .info .box .phone {
    color: var(--paragraph-color);
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}
.contact .info .box address {
    color: var(--paragraph-color);
    font-size: 12px;
    line-height: 1.8;
}
/* End contact  */
/* Start Footer */
.main-footer {
    padding-top: calc(var(--section-padding)/ 2);
    padding-bottom: calc(var(--section-padding)/ 2);
    background-image: url(../Image/footer.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.main-footer::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 60%)
}
.main-footer .container {
    position: relative;
    text-align: center;
}
.main-footer img {
    width: 80px;
    margin: 45px 0 10px;
}
.main-footer p:first-of-type {
    text-transform: uppercase;
    padding: 20px;
    width: fit-content;
    margin: 0 auto 15px;
    border-bottom: 1px solid white;
}
.main-footer .foot-icons i {
    margin: 0 10px 70px 0px;
}
.main-footer .copy-right {
    font-size: 14px;
    margin-bottom: -20px;
}
.main-footer .copy-right span {
    color: var(--main-color);
}
/* End Footer */